repositories:
  cplatform: {{ .cplatformUrl }}
  templates: {{ .templatesUrl }}

p2p:
  fast-feedback:
    default-envs:
      - dev
  extended-test:
    default-envs:
      - dev
  prod:
    default-envs:
      - prod